//- Homepage Markup
extends ./layouts/base

block content
  .navbar.navbar-default(role='navigation')
    .row
      // .navbar-inner
      //   button.navbar-toggle.pull-left.animated.flip(type='button')
      //     span.sr-only Toggle navigation
      //     span.icon-bar
      //     span.icon-bar
      //     span.icon-bar
      .col-sm-2.col-sm-offset-5
        a.navbar-brand.center-block(href='index.html')
          span 大数据处理
  .ch-container
    .row
      // left menu starts
      .col-sm-2.col-lg-2
        .sidebar-nav
          .nav-canvas
            ul.nav.nav-pills.nav-stacked.main-menu
              li.nav-header.hidden-md 选择算法
              li
                a.ajax-link#sli1(href='#sf1',data-toggle="tab")
                  //i.glyphicon.glyphicon-align-justify
                  span  &nbsp Slope one
              li
                a.ajax-link#sli2(href='#sf1',data-toggle="tab")
                  //i.glyphicon.glyphicon-align-justify
                  span  &nbsp KNN
              li
                a.ajax-link#sli3(href='#sf1',data-toggle="tab")
                  //i.glyphicon.glyphicon-align-justify
                  span  &nbsp SVD        

              li.nav-header.hidden-md 数据统计
              li
                a.ajax-link(href='#sf4',data-toggle="tab")
                  //i.glyphicon.glyphicon-calendar
                  span  &nbsp Age distribution              
      .row.col-sm-10
        .col-sm-2
          button#calc.btn.btn-primary(type='button')  calculate
        .col-sm-4
          input#loadfile.file.form-control(type='file',data-preview-file-type='text')     
        .col-sm-1
        #searchUser.col-sm-3.input-group
          input#userId.form-control(type='text', name='userId')
          .input-group-btn
            input#searchId.btn.btn-primary(type='button', name='searchId', value='搜索')         
      hr.line.col-sm-9
      .tab-content.col-sm-10
        #sf0.tab-pane.in.active
          #userNetwork
        #sf1.tab-pane
          #recmovieNetwork
            
          #sidepanel
            #movieInfo.panel_off   
        // #sf2.tab-pane
        //   #recmovieNetwork
            
        //   #sidepanel
        //     #movieInfo.panel_off          
        // #sf3.tab-pane
        //   #recmovieNetwork
            
        //   #sidepanel
        //     #movieInfo.panel_off  
        #sf4.tab-pane
          #movieInfos      
